.container{
    width: 1366px;
    height: 768px;
}
.background_photo{
    width: 1366px;
    height: 768px;
    background-image: url("../OY\ HW03\ Images/background.png");
}
.background_shade{
    background-image: url("../OY\ HW03\ Images/background@1X.png");
    width: 1366px;
    height: 768px;
}
.header{
    width: 1366px;
    height: 100px;
    position: relative;
    top: 20px;
}
.milan_holidays_link{
    width: 155px;
    height: 48px;
    display: inline-block;
    margin: 30px 673px 0px 146px;
    color: white;
    background-image: url("../OY\ HW03\ Images/logo.png");
    background-repeat: no-repeat;
    background-position: left center;
}
.milan_holidays_link:hover{
    color: rgb(242, 101, 34);
    background-image: url("../OY\ HW03\ Images/logo_hover.png");
}
.header_left{
    height: 55px;
    width: 158px;
    display: inline-block;
}
.header_left_text{
    text-transform: uppercase;
    font-family: Verdana, sans-serif;
    font-weight: 700;
    line-height: 24px;
    display: inline-block;
    margin: 2px 0px 0px 61px;
}
.milan{
    font-size: 29px;
}
.holidays{
    font-size: 18px;
}

.header_right{
    height: 50px;
    width: 240px;
    display: inline-block;
    text-align: right;
    font-family: Verdana, sans-serif;
    font-size: 18px;
}
.email_address{
    color: white;
}
.phone_number{
    color: white;
}
.photo_block{
    width: 1366px;
}
.photo_top_row{
    width: 1366px;
    height: 290px;
    margin: 0px 40px 0px 0px;
    text-align: center;
}

.shopping{
    width: 312px;
    height: 250px;
    display: inline-block;
    margin: 40px 0px 0px 0px;
}
.tours_background{
    width: 312px;
    height: 140px;
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0), white);
    margin: 0px 0px 0px 0px;
    position: relative;
    z-index: 2;
}
.shopping_tours_photo{
    width: 307px;
    height: 200px;
    background-image: url("../OY\ HW03\ Images/Layer21.png");
    background-repeat: no-repeat;
    position: relative;
    top: 3px;
    left: 3px;
    z-index: 6;
    color: white;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.3);
}
.shopping_tours_photo:hover{
    width: 307px;
    height: 137px;
    background-image: url("../OY\ HW03\ Images/Layer21.png");
    background-repeat: no-repeat;
    position: relative;
    top: 3px;
    left: 3px;
    z-index: 5;
    color: rgb(242, 101, 34);
    box-shadow: none;
    -webkit-animation-name: price;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in-out;
}
@-webkit-keyframes price {
    from { height: 200px; }
    to { height: 137px; }
}
.shopping_tours_link{
    width: 312px;
    height: 250px;
    position: relative;
    top: -3px;
    left: -3px;
    z-index: 3;
}
.shopping_tours_text{
    width: 312px;
    height: 32px;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 18px;
    padding: 14px 0px 0px 0px;
    position: relative;
    top: -50px;
    left: -4px;
    z-index: 1;
}

.price_tag{
    width: 306px;
    height: 63px;
    background-color: rgb(242, 101, 34);
    margin: 0px 0px 0px 3px;
    position: relative;
    z-index: 1;
}
.price_from{
    padding: 17px 0px 0px 20px;
    color: white;
    font-size: 10px;
    font-family: Verdana, sans-serif;
    text-align: left
}
.price_amount{
    padding: 0px 0px 0px 10px;
    display: inline-block;
    color: white;
    font-size: 20px;
    font-family: Verdana, sans-serif;
}
.price_details{
    padding: 0px 0px 0px 130px;
    display: inline-block;
    color: white;
    font-size: 14px;
    font-family: Verdana, sans-serif;
}
.price_details::after{
    content: url("../OY\ HW03\ Images/arrow.png");
    margin-left: 7px;
}

.sightseeing{
    width: 312px;
    height: 250px;
    display: inline-block;
    margin: 40px 0px 0px 65px;
}
.sightseeing_tours_photo{
    width: 307px;
    height: 200px;
    background-image: url("../OY\ HW03\ Images/Layer22.png");
    background-repeat: no-repeat;
    position: relative;
    top: 3px;
    left: 2px;
    z-index: 6;
    color: white;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.3);
}
.sightseeing_tours_photo:hover{
    width: 307px;
    height: 137px;
    background-image: url("../OY\ HW03\ Images/Layer22.png");
    background-repeat: no-repeat;
    position: relative;
    top: 3px;
    left: 2px;
    z-index: 5;
    color: rgb(242, 101, 34);
    box-shadow: none;
    -webkit-animation-name: price;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in-out;
}
.sightseeing_tours_link{
    width: 312px;
    height: 250px;
    position: relative;
    top: -3px;
    left: -3px;
    z-index: 3;
}
.sightseeing_tours_text{
    width: 312px;
    height: 32px;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 18px;
    padding: 14px 0px 0px 0px;
    position: relative;
    top: -50px;
    left: -4px;
    z-index: 1;
}

.food{
    width: 312px;
    height: 250px;
    display: inline-block;
    margin: 40px 0px 0px 65px;
}
.food_tours_link{
    width: 312px;
    height: 250px;
    position: relative;
    top: -3px;
    left: -3px;
    z-index: 3;
}
.food_tours_photo{
    width: 307px;
    height: 200px;
    background-image: url("../OY\ HW03\ Images/Layer23.png");
    background-repeat: no-repeat;
    position: relative;
    top: 3px;
    left: 2px;
    z-index: 6;
    color: white;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.3);

}
.food_tours_photo:hover{
    width: 307px;
    height: 137px;
    background-image: url("../OY\ HW03\ Images/Layer23.png");
    background-repeat: no-repeat;
    position: relative;
    top: 3px;
    left: 2px;
    z-index: 1;
    color: rgb(242, 101, 34);
    box-shadow: none;
    -webkit-animation-name: price;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in-out;
}
.food_tours_background{
    width: 311px;
    height: 140px;
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0), white);
    margin: 0px 0px 0px 0px;
    position: relative;
    z-index: 2;
}
.food_tours_text{
    width: 312px;
    height: 32px;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 18px;
    padding: 14px 0px 0px 0px;
    position: relative;
    top: -50px;
    left: -4px;
    z-index: 1;
}

.photo_bottom_row{
    width: 1366px;
    height: 300px;
    margin: 10px 40px 0px 0px;
    text-align: center;
}

.nightlife{
    width: 312px;
    height: 250px;
    display: inline-block;
    margin: 30px 0px 0px 0px;
}
.nightlife_link{
    width: 312px;
    height: 250px;
    position: relative;
    top: -3px;
    left: -3px;
    z-index: 3;
}
.nightlife_photo{
    width: 307px;
    height: 200px;
    background-image: url("../OY\ HW03\ Images/Layer24.png");
    background-repeat: no-repeat;
    position: relative;
    top: 3px;
    left: 3px;
    z-index: 6;
    color: white;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.3);
}
.nightlife_photo:hover{
    width: 307px;
    height: 137px;
    background-image: url("../OY\ HW03\ Images/Layer24.png");
    background-repeat: no-repeat;
    position: relative;
    top: 3px;
    left: 3px;
    z-index: 5;
    color: rgb(242, 101, 34);
    box-shadow: none;
    -webkit-animation-name: price;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in-out;
}
.nightlife_text{
    width: 312px;
    height: 32px;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 18px;
    padding: 14px 0px 0px 0px;
    position: relative;
    top: -50px;
    left: -4px;
    z-index: 1;
}

.architecture{
    width: 312px;
    height: 250px;
    display: inline-block;
    margin: 30px 0px 0px 65px;
}
.architecture_link{
    width: 312px;
    height: 250px;
    position: relative;
    top: -3px;
    left: -3px;
    z-index: 3;
}
.architecture_photo{
    width: 307px;
    height: 200px;
    background-image: url("../OY\ HW03\ Images/Layer26.png");
    background-repeat: no-repeat;
    position: relative;
    top: 3px;
    left: 2px;
    z-index: 6;
    color: white;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.3);
}
.architecture_photo:hover{
    width: 307px;
    height: 137px;
    background-image: url("../OY\ HW03\ Images/Layer26.png");
    background-repeat: no-repeat;
    position: relative;
    top: 3px;
    left: 2px;
    z-index: 5;
    color: rgb(242, 101, 34);
    box-shadow: none;
    -webkit-animation-name: price;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in-out;
}
.architecture_text{
    width: 312px;
    height: 32px;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 18px;
    padding: 14px 0px 0px 0px;
    position: relative;
    top: -50px;
    left: -4px;
    z-index: 1;
}

.walking{
    width: 312px;
    height: 250px;
    display: inline-block;
    margin: 30px 0px 0px 65px;
}
.walking_tours_link{
    width: 312px;
    height: 250px;
    position: relative;
    top: -3px;
    left: -3px;
    z-index: 3;
}
.walking_tours_photo{
    width: 307px;
    height: 200px;
    background-image: url("../OY\ HW03\ Images/Layer25.png");
    background-repeat: no-repeat;
    position: relative;
    top: 3px;
    left: 2px;
    z-index: 6;
    color: white;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.3);

}
.walking_tours_photo:hover{
    width: 307px;
    height: 137px;
    background-image: url("../OY\ HW03\ Images/Layer25.png");
    background-repeat: no-repeat;
    position: relative;
    top: 3px;
    left: 2px;
    z-index: 1;
    color: rgb(242, 101, 34);
    box-shadow: none;
    -webkit-animation-name: price;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in-out;
}
.walking_tours_text{
    width: 312px;
    height: 32px;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 18px;
    padding: 14px 0px 0px 0px;
    position: relative;
    top: -50px;
    left: -4px;
    z-index: 1;
}

.footer{
    width: 1366px;
    height: 30px;
    color: white;
    text-align: center;
    font-size: 12px;
    font-family: Verdana, sans-serif;
    vertical-align: bottom;
    margin: 35px 0px 0px 0px;
}


